@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import "tailwindcss";


@theme {
	--font-chrismast: "Mountains of Christmas", serif;
}

html {
	background-image: url("https://as2.ftcdn.net/v2/jpg/02/92/78/05/1000_F_292780526_LHfhapfIlJ2odp3HbNKtgBtUZRIvXXNj.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	display: grid;
	place-content: center;
}

.mountains-of-christmas-regular {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}


button  {
	@apply  px-4 py-2 text-white;

	&.primary {
		@apply bg-pink-500
	}

	&.danger {
		@apply bg-red-500
	}
}